# THEME FONTS
base-font-size: 1.2em
text-color: "#191919"
link-color: "#17a2b8"
base-font-family: 'Montserrat'
font-cdn: <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
